<!DOCTYPE=html>
<html>
<header>
    <title>Search</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css">
</header>
<center>
    <body class="dark-matter">
    {% if search %}
        {% for photo in j %}
        <img src="{{photo.d_url}}"></img>
        <br>
        <a href="{{photo.url}}">Original</a>
        <br>
        {% endfor %}
    {% else %}
    <div id="parent">
        <div id="search">
        <form method='POST'>
            <input type="text" name="tag">
            <input type="submit" style="display: none">
        </form>
        </div>
    </div>
    {% endif %}
    </body>
</center>
</html>
